
h1{margin-left: 30px;}

.example{
    width: 100px;
    display: inline;
    float: right;
}

.example2{
    display: inline;
    float: right;
}

.example3{
    display: inline;
    float: right;
}

.simple{
    width: 120rem;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    
}

.simple li{
    display: inline-block;
    list-style-type: none;
    margin: 10px ;
    
}